<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>

<style>
    
    #rectangle{
     width:500px;
     height:250px;
     background-color: rgb(0, 238, 255);
     border-radius: 100px;
     position:absolute;
     top:25%;
     left:50%;
     transform:translate(-50%,-50%);
    }

    #ans{
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  padding: 3% 5%;
  padding-top: 15%;
  color: rgb(255, 255, 255);
    }

</style>
<body bgcolor="lightgreen">
    <div id="rectangle">
        <h1 id="ans">Predicted Number :{num}</h1>
    </div>
</body>
</html>